.header {
    background-size: cover;
    background-position: center center;
    background-image: url(../asset/img/header_desktop.png);
    background-repeat: no-repeat;
  
    .menu {
      top: 0;
      &-bg {
        min-height: 58px;
        background: #ff0000;
        position: relative;
      }
      &-show {
        max-height: 165px;
      }  
      li {
        color: #fff;
        a {
          display: block;
          &:hover {
            font-weight: bolder;
          }
        }
      }
    }
  }